<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>F4PGA - For Developers</title>
  <link rel="icon" href="assets/img/favicon.svg" type="image/svg+xml" />
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/developers.css">
</head>

<body>

<!--
  <div class="gsoc-banner">
    <span class="gsoc-banner__caption">F4PGA is participating in </span>
    <a href="https://summerofcode.withgoogle.com/organizations/6224851964002304/"><img class="gsoc-banner__logo" src="assets/img/gsoc-logo.svg" alt="Google's Summer of Code website"></a>
  </div>
-->

  <nav class="nav">
    <div class="nav__wrapper">
      <a href="index.html">
        <img class="nav__logo" src="assets/img/f4pga.svg" alt="F4PGA">
      </a>

      <div class="nav__toggle">
        <button class="hamburger hamburger--squeeze" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
      <ul class="nav__links">
        <li><a href="index.html#hero">Home</a></li>
        <li><a href="getting-started.html">Start using</a></li>
        <li><a href="developers.html" class="current-page">Contribute now</a></li>
      </ul>
    </div>
  </nav>

  <footer class="footer">
    <div class="footer__wrapper">
        <span class="footer__copy">
          © 2022 F4PGA
        </span>

      <div class="chips__alliance">
        <a  href="https://chipsalliance.com">
        <img src="assets/img/chips-alliance.svg" />
        </a>
      </div>

      <span class="footer__social">
        <a href="https://github.com/f4pga/" target="_blank">
          <img class="social__icon" src="assets/img/github.svg" alt="GitHub">
        </a>
      </span>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
  <script src="assets/js/github-activity.js"></script>
  <script src="assets/js/script.js"></script>
</body>

</html>
